$colores:(footer_header:#DD5353, main:#DBC8AC, botones_nav:#EDDBC0, overlay:#f1f1f1, letras_overlay:white);
$color_recuadro_imagenes: rgba(0, 0, 0, 0.6);
$color_letra_recuadro_imagenes: rgba(240, 248, 255, 0.763);